<div [class]="classList">
    
    <span [class]="iconClass" title="Notification Icon">
        <svg class="slds-icon" aria-hidden="true">
          <use attr.xlink:href="./assets/icons/standard-sprite/svg/symbols.svg#{{iconLink}}"></use>
        </svg>
        <span class="slds-assistive-text">Notification Icon</span>
      </span>
  
    <p class="movie-reviewer-notification-content">{{content}}</p>
    <span (click)="closeNotification()" class="movie-reviwer-notification-close-icon">
        <span class="slds-icon_container slds-icon-utility-announcement slds-current-color" title="Notification Close Icon">
            <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
              <use xlink:href="./assets/icons/utility-sprite/svg/symbols.svg#close"></use>
            </svg>
            <span class="slds-assistive-text">Notification Close Icon</span>
        </span>
    </span>
</div>
