<section class="movie-reviewer-sidebar-wrapper">
    <aside class="movie-reviewer-aside">
        <div class="movie-reviewer-scroll-area">
            <div (click)="showMore(movie)" class="movie-reviewer-list-item" *ngFor="let movie of movies;">
                {{ movie.title }}
                <span class="movie-reviewer-show-more-icon">
                    <span class="slds-icon_container slds-icon-utility-chevronright slds-current-color" title="Show more">
                        <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                        </svg>
                        <span class="slds-assistive-text">Show more</span>
                    </span>
                </span>
            </div>
        </div>
        <div class="movie-reviewer-pagination">

            <button  (click)="previousPage()" class="slds-button slds-button_neutral">
                <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronleft"></use>
                </svg>Previous</button>

            <button (click)="nextPage()" class="slds-button slds-button_brand">Next
                <svg class="slds-button__icon slds-button__icon_right" aria-hidden="true">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                </svg>
            </button>
        </div>
    </aside>

    <div class="movie-reviewer-movie-preview">
        <app-movie-card></app-movie-card>
    </div>
</section>
